body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.3vmin;

}

.centered {
    margin-left: auto;
    margin-right: auto;
    color: #111;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7vmin;
    font-weight: bold;
    letter-spacing: -1px;
    margin-top: 2vmin;
    margin-bottom: 7vmin;
    line-height: 1;
    padding: 10vmin;
  }




.title{
  color: #111;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11vmin;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 3vmin;
  margin-left: 10vmin;
  margin-right: 10vmin;
  margin-bottom: 3vmin;
  line-height: 1;
}

.sub_title{
    color: #111;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vmin;
    font-weight: 150;
    margin-bottom: 1vmin;
    margin-left: 10vmin;
    margin-right: 10vmin;
}

.sub_sub_title {
  color: #111;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vmin;
    font-weight: 150;
    margin-bottom: 1vmin;
    margin-left: 10vmin;
    margin-right: 10vmin;
}

  .center {
    text-align: center;
  }

  .center_div {
    margin: auto;
    width: 50%;
    padding: 10px;
  }


  .margin-about {
    margin-top: 6vmin;
    margin-bottom: 12vmin;
  }


  .mission-about {
    border: 4px solid;
    border-style: solid;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    padding: 3vmin;
    margin-right: 5vmin;
  }


  .drop_shadow{
    filter: drop-shadow(5px 10px 4px #111);
    width:75%;
  }

  .box_shadow_right{
    border-radius: 10px;
    box-shadow: 4px 0px black;
  }
  .box_shadow_left{
    border-radius: 10px;
    box-shadow: -4px 0px 0px 0px black;
  }

  .align_to_right{
    text-align: right;
  }





