* {
    font-size: 100%;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif
   }
  
  .box_ {
    border: 7px solid rgb(0, 0, 0);
    padding: 7px;
    margin: 1vmin;
  }
  
  .row {
    margin: 2.5vmin;
  }
  
  .div-style{
    border: 2px solid;
    padding: 3vmin;
    margin: 2vmin;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 3px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .card-body {
    border: 3px solid #383232;
    border-radius: 35px;
    box-shadow: 5px 20px 20px 5px rgba(0,0,0,.1);
    margin-bottom: 2vmin
  }